/* TOP */

/*user agent stylesheet を無効化する*/
/*user agent stylesheetとは、各ブラウザがページを読み込むときに既定で適用されている、CSSのことです。*/
/*参考：https://mebee.info/2019/08/21/user-agent-stylesheet/#outline__2*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*--------------------------------------------------------------------*/
/*root*/
/* JSファイルでスクロールバーを除いた画面のVW(ビューポートサイズ)を取得することが出来る */
:root {
  --vw: 1vw;
}



/*--------------------------------------------------------------------*/

/* html要素 */
html {  
      /*ルートの文字サイズを10pxに設定*/
      /* フォントサイズ(rem用) 
      ブラウザのデフォルトのフォントサイズは16pxで、font-sizeを62.5%と指定することで
      pxにすると10pxとなるり、rem指定がしやすくなるため

      デバイスごとにも設定できる
      参考：https://engineer-labo.com/rem_size/
      */
      /*これを基準に150%とか倍率で指定していく*/
      font-size: 62.5%; /*フォントサイズを62.5％に設定(PCのWebページのフォントサイズは基本的に16pxなので、10pxになる)*/
}







/*--------------------------------------------------------------------*/

  /* ヘッダー */
  /* ナビゲーションバー */
  .navigation {
    width: 100%;
    height: 5rem;

    background-color: #000000;  
    /* box-sizing: border-box;   */
    /* padding-top: 1rem;
    padding-left: 2rem; */
    margin: 0 auto;

    /*中央揃えのため*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* ハンバーガーメニューのチェックボックスは不要なので消す */
  #menu-btn-check {
    display: none;
  }


  

  /* ハンバーガーメニュー ボタンを押したときに現れるメニュー*/
.menu-content {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 100;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;  /*恐らくハンバーガーメニューボタンより後面に表示させたいため、ボタンより小さい値にする*/
    background-color: #000000;
    transition: all 0.5s;/*アニメーション設定*/
}
.menu-content ul {
    /* padding: 70px 10px 0; */
    padding:10rem  1rem 0rem 1rem;
}
.menu-content ul li {


  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 3.5rem;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 1rem 1.5rem 1rem 0,5rem;
    position: relative;

    line-height: 8rem; /*文字高さ*/
}
/* 文字横の矢印 */
.menu-content ul li a::before {
    content: "";
    width: 2.6rem;
    height: 2.6rem;
    
    border-top: solid 0.3rem #ffffff;
    border-right: solid 0.3rem #ffffff;
    transform: rotate(45deg);
    position: absolute; 

    /* 左右位置合わせ */
    /* 要素の右端を親要素の右端から<記載値>分、左に寄せる */
    right: 1.1rem;

    /* 上下位置合わせ */
    /* 要素の上を親要素の上下の中央に置いて、上の外部余白を要素の半分だけ減らすことで中央に寄せることが出来る */
    top: 50%;
    margin-top: -1.5rem;
    

}
.menu-ber_top {
  /* 文字の下線表示 */
  text-decoration:underline;
}


#menu-btn-check:checked ~ .menu-content {
  left: 50%;/*メニューを画面内へ */
}






/* -------------------------------------------------------------------- */

/*ウィンドウ幅701～1024pxの場合*/
@media screen and (min-width: 771px){

  /* 確認用 */
  body{
    /* ページ全体の背景色 */
    background-color: rgb(240, 230, 230); /*背景色*/
  }




  /* 箇条書き 要素 */
  .navigation ul {
    /* フレックスボックス化 */
    /* 子要素を横並びにする */
    display: flex;
    /* 効果(・等)を削除 */
    list-style: none;
    /* デフォルトの外部余白を削除 */
    margin: 0;
    /* デフォルトの内部余白を削除 */
    padding: 0;
  }
  /* 全てのli要素(リンクボタン) */
  .navigation li {
    /* li要素の右余白(全ての要素に適応される) */
    margin-right: 2rem;
    margin-left: 2rem;
    /* フォントサイズ */
    font-size:  2rem;
  }
  /* ナビゲーションバーの文字 */
  .navigation a {
    /* 文字色 */
    color: #fff;
    /* 文字の下線削除 */
    text-decoration: none;  
  }
  /* ナビゲーションバーの文字 TOP */
  .ber_post a {
    /* 文字色 */
    /* color: rgb(255, 142, 142); */

    /* 文字の下線表示 */
    text-decoration:underline;
  } 

}/* 終 */









/*--------------------------------------------------------------------*/
/* 縦画面用(スマホなど) */
/*ウィンドウ幅で自動調整*/
@media screen and (max-width: 770px){ 
  /* 確認用 */
  body{
    /* ページ全体の背景色 */
    background-color: rgb(230, 238, 240); /*背景色*/
  }
/*------------------------------------*/
  /* ナビゲーションバーは不要なので消す(ハンバーガーメニューが表示されるため) */
  .navigation ul {
    display: none;
  }

/*------------------------------------*/


  /* ハンバーガーメニュー ボタン*/
  .menu-btn {
    position: fixed;  /*画面の決まった位置に固定(スクロールしても表示される)*/
    top: 6rem;
    right: 1rem;
    display: flex;
    height: 6rem;
    width: 6rem;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #000000;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }

  /* ハンバーガーメニューをクリックしたら、三本線がなくなって✕マークになる */
  #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }


}/* 終 */






/* 設定終了 */
/*--------------------------------------------------------------------*/

/*body全体の設定*/
body {
  font-family: Roboto,sans-serif!important; /*フォントスタイル*/
  font-size: clamp(1.6rem,2vw,2rem);  /*フォントサイズ (最小,推奨,最大)*/
  line-height: 1.4; /*行間調節*/

  padding: 0; /*自動生成余白を消す*/  
  margin: 0;  /*自動生成余白を消す*/  

  /* ページ全体の背景色 */
  /*background-color: rgba(230, 250, 230, 255); /*背景色*/
  background-color: rgb(255, 255, 255); /*背景色*/
}


/*祖親クラスの高さを指定(スクロールできるように)*/
.g_0 {
  /* 横スクロールバー非表示 グリッドでvwを使用したいが、スクロールバーも含めたものになる → バランス崩れを防ぐため */
  overflow-x: hidden;
/* 
  min-height: 2000px; */
}


/*スマホの場合のフォントサイズを設定(横幅550px以下)*/
/*
rem親要素に応じて指定されるのではなく、文字サイズの指定に使うため1rem=10px未満になるとChromeが値を無効にしてしまいます。Chromeの独自処理なので、レスポンシブされない理由が分からず、初心者は煮詰まってしまう可能性があるので注意してください。

remを使っているのに、スマホのChrome画面でレスポンシブが効かないときはremのサイズ指定が10pxになっていないか確認しましょう。
参考：https://engineer-labo.com/rem_size/
*/
/* @media screen and (max-width: 550px) {
  html{ */
    /* 1rem = 10xと再定義 */
    /*必ず10px以上に設定する！！*/
    /* font-size: 10px;
  } */

  /* body{ */
    /* （100px * 0.14rem = 14px） */
    /* font-size: .7rem;
  }
} */





/*ウィンドウ幅701～1024pxの場合*/
@media screen and (min-width: 771px){

  

  /* 確認用 */
  body{
    /* ページ全体の背景色 */
    /*background-color: rgb(240, 230, 230); /*背景色*/
  }
  
}/*終 /*ウィンドウ幅856px以上、1023px以下の場合*/


/*ウィンドウ幅で自動調整*/
@media screen and (max-width: 770px){ 
  /* 確認用 */
  body{
    /* ページ全体の背景色 */
    background-color: rgb(230, 238, 240); /*背景色*/
  }  
}/*終 */




/* 纏めクラス */
.post {
  width: min(90%, 90rem); /*基本値, 最大値*/
  height: 60rem;
  margin: 0 auto;   /*中央寄せ*/
  padding: 6rem 0;  /*上下内部余白*/

  /* ページ全体の背景色 */
  /*background-color: rgb(247, 255, 249); /*背景色*/
}



/* タイトル */
.post-ttl{
  font-size: 4rem;
  font-weight: bold;  /* 太字 */
  margin-bottom: 4rem;
  text-align: center; /* テキスト位置 中央 */
}





/* フォームテーブル */
.post-table{
  width: 100%;
  margin-bottom: 2rem;
}
/* フォームテーブル内の要素(カテゴリ欄、入力欄) */
.post-item,
.post-body {
  padding: 2rem;            /* 欄内の高さ */
  border: 0.1rem solid #ccc; /* 枠線色 */
  border-radius: 0.2rem; /* 角丸指定 */
}

.post-item {
  /*text-align: left; /* テキスト左寄せ */
  text-align: center; /* テキスト中央揃え */
  width: 30%; /* 横幅30%指定（グレーの背景色部分） */
  background-color: #eee; /* グレーの背景色 */
}

.post-body {
  width: 70%; /* 横幅70%指定（白背景色部分） */
}


/* フォームの文字 */
.form-text {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 40rem;
}


/* 2行目 */
/* チェックボックス 全て */
.post-tag {
  display: block; /* 縦並び用 */
}

/* チェックボックス間の間隔 */
.post-tag + .post-tag {
  margin-top: 1rem;
}

/* チェックボックス横の文字 */
.post-tag-txt {
  margin-left: 0.5rem; /* 文字の左側に余白(チェックボックスと文字の間に間隔を設ける) */
}

/* チェックボックス その他の記入欄 */
/* 全てのtextareaの設定 */
.form-textarea {
  /*display: block; /* その他のチェックボックスの下に表示させたいため */ 

  width: auto;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  border: 0.1rem solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* チェックボックス その他の記入欄 */
/** チェックOFFなら非表示 */
.form-textarea {
  display: none;
}
/** チェックONなら表示 */
input:checked ~ .form-textarea{
  display: block;
}





/* 送信ボタン */
.post-submit {
  width: 20rem; /* 横幅指定 */
  background-color: #333; /* 背景色 */
  color: #fff; /* 文字色 */
  font-weight: bold; /* 文字の太さ */
  display: block; /* インライン要素をブロック要素に変更 */

  margin-top: 4rem;   /*上余白*/
  margin-left: auto;  /* 中央寄せ */
  margin-right: auto; /* 中央寄せ */

  font-size: 1.6rem; /* 文字の大きさ */
  padding: 1.5rem; /* 内側の余白 */
  border-radius: 20rem; /* 角丸指定 */
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}




